{
  "presets": [
    "@babel/preset-react", "@babel/preset-env"
  ],
  "plugins": [
      "@babel/plugin-proposal-class-properties",
      [
          "react-css-modules",
          {
              "filetypes": {
                  ".less": {
                      "syntax": "postcss-less"
                  }
              },
              "generateScopedName": "[name]--[local]--[hash:base64:5]"
          }
      ]
  ]
}
